logs
target
build
project
project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.gradle
/.mergify.yml
/play-scala-hello-world-tutorial.ipr
/play-scala-hello-world-tutorial.iws
/.vscode
/sbt-dist/
/.g8/
/gradle
play-gradle-starter.iml
play-gradle-starter.ipr
play-gradle-starter.iws
/out
