logs
target
build
project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.gradle
/.mergify.yml
/play-scala-hello-world-tutorial.ipr
/play-scala-hello-world-tutorial.iws
/.vscode
